- hosts: all
  become: yes
  vars:
    zabbix_server_ip: "X.X.X.X" # IP вашего Zabbix сервера
    zabbix_agent_version: "7.0"

  tasks:
    - name: Install Zabbix Agent (Debian/Ubuntu)
      apt:
        name: zabbix-agent
        state: present
        update_cache: yes
      when: ansible_os_family == "Debian"

    - name: Install Zabbix Agent (RedHat/CentOS)
      yum:
        name: zabbix-agent
        state: present
      when: ansible_os_family == "RedHat"

    - name: Configure Zabbix Agent
      lineinfile:
        path: /etc/zabbix/zabbix_agentd.conf
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
      loop:
        - { regexp: '^Server=', line: "Server={{ zabbix_server_ip }}" }
        - { regexp: '^ServerActive=', line: "ServerActive={{ zabbix_server_ip }}" }
        - { regexp: '^Hostname=', line: "Hostname={{ ansible_hostname }}" }
      notify: Restart Zabbix Agent

    - name: Ensure Zabbix Agent is running and enabled
      service:
        name: zabbix-agent
        state: started
        enabled: yes

  handlers:
    - name: Restart Zabbix Agent
      service:
        name: zabbix-agent
        state: restarted